body{
    background-color: white;
     /*background: radial-gradient(gray,white,teal);*/
   /* background-image: url("0xx.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100% 100%;*/}
.border{
      /* border:3px solid pink;
       border-bottom: 10px;
       border-left: 2px;
       border-top:10px;
       border-right:2px;
       border-width:10px 2px 10px 2px;
       border-color: teal;
       border-style: solid;
       border-radius: 10px;*/
       width: 90%;
       margin:0 auto;
       padding: 5px;
       overflow: hidden;
       height: auto;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       
   }
   .left{
       border:2px solid windowframe;
       width:20%;
       float:left;
        margin-left: 15px;
   }
   .right{
       border:2px solid whitesmoke;
       width:20%;
       float:left;
       margin-left: 15px;
   }
   .right .top{
       margin-bottom: 10px;
   }
   .rightLeft{
       float:left;
   }
   .rightRight{
       float:left;
       font-size: 13px;
       margin-left: 4px;
   }
   #img{
       width: 50px;
       height: 55px;
   }
   button{
       background-color:rosybrown;
       color:white;
       width: 30%
   }
   .content{
       border:2px solid windowframe;
       width:53%;
       float:left;
       padding: 5px;
        margin-left: 15px;
   }
   .contentRight{
       float:left;
        width:45%;
        border:2px solid teal;
        border-bottom: none;
        border-right:  none;
         margin: 10px;
         text-align: center;
         font-family:cursive;
         font-size: 14px;
         color:teal;
   }
   .contentLeft{
       float:left;
       width:45%;
       margin: 10px;
      text-align: center;
       border:2px solid teal;
        border-bottom: none;
        border-left: none;
       font-family:cursive;
         font-size: 14px;
         color:teal;
   }
   .contentLeft button,.contentRight button{
       margin: 5px;
       background-color: teal;
       width: 50%;
   }
   .user{
       widh:70px;
       height: 70px;
       float: center
   }
   .content .top p{
       color:black;
       text-indent: 20px;
       text-align: justify;
       column-count:2;
       column-gap: 20px;
       column-rule-style: solid;
       column-rule-color: teal;
       column-rule-width: 1px;
     
   }
   h1,h2{
       font-family: cursive;
       font-size: 3vw;
       font-weight: bold;
       text-align: center;
       text-shadow:1px 2px purpule;
       color:teal;
   } 
   h2{
        font-size: 3vw;
   }
   nav{
       background-color: teal;
       padding: 6px;
       margin:1%;
       width: 95%;
       border-width: 1px ;
       border-style: solid;
       border-radius: 7px;
      border-color: wheat;
      padding:auto 6em;
     
       
   }
   nav ul li{
       display: inline;
       margin-left: 25px;
       background-color: white;
       padding:13px;
       border-radius: 5px;
       font-size: 20px;
       font-family: arial;
	   background: linear-gradient(teal,white);
	   
       
      
       
       
   }
   nav ul li a{
       text-decoration: none;
	   
       
   }
   nav ul li a:active{
       background-color: yellow;
	   
   }
   nav ul li:hover{
      /* background-color:black;
       transition-duration: 2s;
       padding: 15px;*/
/*	   animation:butt 5s;
	   transition-duration: 2s;
       padding: 20px;*/
   }
   nav ul li a:visited{
       color:white;
       
   }
    
.drop{
   	position: absolute;
   	width:600px;
   	top:3.5em;
      left:15em;
    display: none;
	background-color:teal;

   }
.drop li{
  	width: 100%;
  	 display: block;
  	clear:both;
    background-color:teal;
	inherit:none;
  }
  .drop li a{
text-decoration: none;
color:teal;

}
 
nav ul li:hover .drop{
  	
  	display: block;
  }
  .drop li:hover{
  	background-color: black;
  	color:white;
  }
  #gad{
      border:2px teal solid;
      width:100px;
      height: 100px;
      margin: 0 auto;
      border-radius: 10%;
      animation-name: toCricle;
      animation-duration: 5s;
      animation-fill-mode: forwards;
      /*background-color:gainsboro;*/
      position:relative;
     
  }
  @keyframes toCricle{
      from{}
      to{ border-radius: 100%;background-color:gainsboro; width:50px;
      height: 50px;
      bottom:10px;}
      /*10%{}*/
      /*30%{}*/
      /*60%{}*/
      /*100%{};*/
  }
  @keyframes butt{
	  to{
		  background: linear-gradient(teal,white,white,white);
		 
	  }
      
  }
@media screen and (max-width: 553px){
    .left,.right,.content{
        width:100%
    }
    nav ul li{
       display: block;
       /*margin-left: 25px;*/
       /*background-color: white;*/
       padding:13px;
       border-radius: 5px;
       font-size: 20px;
       font-family: arial;
       background: linear-gradient(teal,white);
       /*width:100%;*/
       /*margin: auto auto;*/
       margin:10px 40px 20px 10px;
  
   }
   nav{
       background-color: white;
       border-style: none;
       border-bottom: 2px teal solid;
   }
}

.product{
    width:100px;
    height:100px;
    
}
.details{
	width:100px;
        height: 40px;
        background-color: whitesmoke;
        padding: 5px;
        text-align: center;
        border-radius: 30px 30px 30px 5px;
        margin: 0px 10px 10px 90px;
        position: absolute;
        display: none;
        font-size: 13px;
}
.containr{
    border:2px antiquewhite solid;
    /*width: 50%*/
}
.containr:hover .details{
    display: inline;
}
#log{
    /*visibility:  hidden;*/
    display: none;
   position: absolute;
    background-color: #f9f9f9;
    padding: 27px;
    margin: 12px -957px 70px 319px;
    border-radius: 10px;
}
    

nav ul li:hover #log{
/*    visibility:  visible;
     position: static;
    display: inline;
    margin: 30px 30px 30px 20px ;
    margin: 50px -880px 80px 50px ;
    margin-right: 20em;*/
display: block;
}